@charset "UTF-8";

:root {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(black, #030614, black);
}

.imagem01 {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    padding: 5%;
}

.imagem02 {
    display: flex;
    justify-content: center;
}

div {
    padding: 3%;
}

div > ul {
    margin: 2%;
}

footer {
    text-align: center;
    background-color: rgba(0, 26, 255, 0.685);
    padding: 1%;
}

footer a {
    color: rgb(0, 255, 13);
}

footer a:hover {
    color: rgba(53, 233, 17, 0.678);
}

div > ul > mark {
    background-color: rgb(10, 235, 10);
}